<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/smartpoll.css" rel="stylesheet">
	<title>SmartPoll - Menú Principal</title>
	<style>
		/* #btn_cerrar_sesion { padding:0.5rem; } */
		.PollCard input, .PollCard button { padding:0.5rem; }
	</style>
</head>
<body>
	<%- include('smartpoll/heading.ejs') %>
	<br><br>
	<div align="center">
		<div style="display: inline-block">
			<div class="PollFeed">
				<div class="PollCard">
					<form name="BuscarForm" action="/buscarComunidades">
						<input id="valor" name="valor" type="text" placeholder="Título o Descripción">
						<button>Buscar</button>
					</form><br>
					<label style="color:#00000077;font-size:small"><i>¿No encuentra lo que busca? <a href="/crearComunidad">Cree una comunidad</a></i></label>
				</div>
				<% for( const i in resultados_busqueda ) { const comunidad = resultados_busqueda[i]; %>
					<div class="PollCard">
						<h3 style="float: left; margin:auto;"><a href="/comunidad?id=<%-comunidad.id%>"><%- comunidad.nombre %></a></h3>
						<% if (comunidad.user_joined) { %>
							<button style="float: right; margin:auto;" onclick="window.location.href='/comunidad/desunirse?id_comunidad=<%-comunidad.id%>&id_usuario=<%-datos_usuario.id_usuario%>'">Desunirse</button><br>
						<% } else { %>
							<button style="float: right; margin:auto;" onclick="window.location.href='/comunidad/unirse?id_comunidad=<%-comunidad.id%>&id_usuario=<%-datos_usuario.id_usuario%>'"><b>Unirse</b></button><br>
						<% } %>
						<p style="clear:both; margin:auto; float: left;font-style: italic;"><%- comunidad.descripcion %></p>
					</div>
				<% } %>
			</div>
			<div class="RightSideCard">
				<h3>Usuario - <%- datos_usuario.nombre_usuario %></h3>
				<p><%- datos_usuario.nombres %> <%- datos_usuario.apellidos %> </p>
				<h3>Comunidades</h3>
				<ul style="list-style-type: none; padding:0rem">
					<% for (const i in usuario_comunidades) { const comunidad = usuario_comunidades[i]; %>
						<li><a href="comunidad?id=<%-comunidad.id%>"><%-comunidad.nombre%></a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
	
	<%- include("includes/jquery.ejs") %>
	<script type="module" src="js/buscarComunidades.js"></script>
</body>
</html>