<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/smartpoll.css" rel="stylesheet">
	<title>SmartPoll - Menú Principal</title>
	<style>
		#btn_cerrar_sesion { padding:0.5rem; }
		input[type=text] { padding:0.5rem; width:100%; margin:auto  }
		#tabla_opciones { width:100%; margin:auto }
	</style>
</head>
<body>
	<%- include('../smartpoll/heading.ejs') %>
	<br><br>
	<div align="center">
		<div style="display: inline-block">
			<div class="PollFeed">
				<div class="PollCard">
					<a style="float: left; margin:auto;" href="/comunidad?id=<%-datos_comunidad.id%>">&lt;&lt; Atrás</a>
				</div>
				<div class="PollCard" align="left">
					<h3 style="float: left; margin:auto;">Crear Poll | <%-datos_comunidad.nombre%></h3>
					<br><br>
					<input id="txt_titulo" type="text" placeholder="Titulo"><br><br>
					<table id="tabla_opciones">
						<!-- <tr><td><input type="text" placeholder="Opcion"></td><td><button style="padding:0.5rem">X</button></td></tr>
						<tr><td><input type="text" placeholder="Opcion"></td><td><button style="padding:0.5rem">X</button></td></tr>
						<tr><td><input type="text" placeholder="Opcion"></td><td><button style="padding:0.5rem">X</button></td></tr> -->
					</table>
					<button id="btn_añadir_opcion" style="width:100%;padding:0.5rem">+</button><br><br>
					<label><input id="chk_respuesta_unica" type="checkbox">Respuesta única</label><br><br>
					<label><input id="chk_publico" type="checkbox" checked>Poll pública</label><br><br><hr><br>
					<button id="btn_crear_poll" style="width:100%;padding:0.5rem">Crear</button>
				</div>
			</div>
			<div class="RightSideCard">
				<h3><%- datos_comunidad.nombre %> | Comunidad</h3>
				<p><b>Usuarios: <%-comunidad_usuarios.length%></b></p>
				<ul style="list-style-type: none; padding:0rem">
					<% for (const i in comunidad_usuarios) { const usuario = comunidad_usuarios[i]; %>
						<li style="font-style: italic;"><%-usuario.nombre_usuario%></li>
					<% } %>
				</ul>
				<hr>
				<h3>Usuario - <%- datos_usuario.nombre_usuario %></h3>
				<p><%- datos_usuario.nombres %> <%- datos_usuario.apellidos %> </p>
				<h3>Comunidades</h3>
				<ul style="list-style-type: none; padding:0rem">
					<% for (const i in usuario_comunidades) { const comunidad = usuario_comunidades[i]; %>
						<li><a href="/comunidad?id=<%-comunidad.id%>"><%-comunidad.nombre%></a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- <button id="btn_cerrar_sesion">Cerrar Sesion</button> -->
	
	<%- include("../includes/jquery.ejs") %>
	<script>
		const id_usuario = "<%-datos_usuario.id_usuario%>";
		const id_comunidad = "<%-datos_comunidad.id%>";
	</script>
	<script type="module" src="/js/crearpoll.js"></script>
</body>
</html>